.board {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 0.07fr));
    gap: 1rem; 
    place-items: center;
    justify-content: center;
    max-width: 100%;
}
@media screen and (max-width: 768px) {
    .board {
        gap: 0.5rem; 
    }
}

@media screen and (max-width: 480px) {
    .board {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 0.05fr));
        place-items: center;
        justify-content: center;
        max-width: 100%;
        gap: 2rem 3.5rem; 
    }
}

@media screen and (max-width: 375px) {
    .board {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 0.05fr));
        place-items: center;
        justify-content: center;
        max-width: 100%;
        gap: 2rem 4.5rem; 
    }
}

@media screen and (max-width: 320px) {
    .board {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 0.05fr)); 
        place-items: center;
        justify-content: center;
        max-width: 100%;
        gap: 2rem 2.5rem; 
    }
}