.board {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 0.07fr));
    gap: 1rem; 
    place-items: center;
    justify-content: center;
    max-width: 100%;
}
@media screen and (max-width: 768px) {
    .board {
        gap: 0.5rem; 
    }
}

@media screen and (max-width: 480px) {
    .board {
        gap: 0.3rem; 
    }
}

@media screen and (max-width: 375px) {
    .board {
        gap: 0.2rem; 
    }
}

@media screen and (max-width: 320px) {
    .board {
        gap: 0.1rem; 
    }
}