.scoreboard {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(241, 160, 10),
                -10px 10px 12px rgb(237, 221, 5),
                -10px -10px 15px rgb(226, 126, 3),
                10px -10px 10px rgb(159, 191, 19);
    width: 20%;
    margin: 3rem auto;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    padding: 15px;
  }
  
  
  @media (max-width: 600px) {
    .scoreboard {
      width: 80%;
      font-size: 18px;
      padding: 10px;
    }
  }
  
 
  @media (min-width: 601px) and (max-width: 1024px) {
    .scoreboard {
      width: 50%;
      font-size: 20px;
      padding: 12px;
    }
  }
  