.box{
    background-image: linear-gradient( 135deg, #FDD819 10%, #E80505 70%);
    border: none;
    box-shadow: 0 0 10px white;
    border-radius: 10%;
    width: 5rem;
    height: 5rem;
    font-size: 5em;
    text-align: center;
    font-weight: bold;
    line-height: 5rem;
    margin: 0.5rem;
    color: white;
}

.box:hover{
    box-shadow: 0 0 40px rgb(6, 209, 223);
    background-image: linear-gradient(135deg, #E80505 10%, #FDD819 100%);
}

.X {
    color: #fff;
    /* text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa; */
}

.O {
    color:var(--xBlack);
}