.App {
  text-align: center;
}

.button {
  background-color: #000;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 10px 10px 10px rgb(241, 160, 10),
    -10px 10px 12px rgb(237, 221, 5),
    -10px -10px 15px rgb(226, 126, 3),
    10px -10px 10px rgb(159, 191, 19);
}

.winner-message {
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(202, 86, 24),
    0 0 82px rgb(228, 33, 33), 0 0 92px rgb(234, 18, 137), 0 0 102px rgb(199, 28, 16),
    0 0 151px rgb(201, 5, 172);
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 14px;
    padding: 8px 16px;
    margin: 12px 7px;
  }

  .winner-message {
    font-size: 20px;
  }
}


@media screen and (max-width: 411px) {
  
  .button {
    font-size: 12px; 
    padding: 10px 12px; 
    margin: 10px 8px; 
  }

.winner-message {
    font-size: 18px; 
  }
}

.footer{
  padding: 10px 12px;   
}